*{
    margin: 0;
    padding: 0;
}
#cont{
    display: grid;
    grid-template-columns: auto auto;
}
section{
    background-color: cadetblue;
    grid-column-start: 1;
    grid-column-end: 3;
}
img{
    width: 200px;
}
h1{
    background-color: brown;
    width: calc(100vw - 200px);
    text-align: center;
}
ul{
    margin: 10px;
    background-color: burlywood;
}
li{
    margin: 6px;
    border-bottom: 1px solid #293c58;
    list-style: none;
}