*{
    margin: 0;
    padding: 0;
}
html{
    max-width: 100vw;
}
.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.section aside{
    background-color: #C8BB66;
    width:350px;
}
.section aside .logo{
    text-align: center;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 20px;
}
.section aside .links{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.section aside .links .link{
    padding: 5px 20px;
}
.section .content{
    max-width: calc(100% - 350px);
    background-color: #BD9F7B;
    display: flex;
    flex-direction: column;
}
.section .content .index{
    width:100%;
    height: 500px;
    background-color: #ba7304;
    color: #DFD3C5;
    padding: 20px 40px;
}
.section .content .items{
    width: calc(100% - 20px);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 5px;
}
.section .content .items .item{
    width: 240px;
    height: 300px;
    margin: 5px;
    background-color: #525A1F;
    color: #DFD3C5;
}
footer{
    width: 100%;
    height: 50px;
    background-color: #358282;
    color: #DFD3C5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.socials{
    display: flex;
    flex-direction: row;
}
.social{
    margin: 0 10px;
}