*{
    margin: 0;
    padding: 0;
}
div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.item1{
    background-color: rgb(238, 178, 99);
}
.item2{
    background-color: rgb(99, 194, 238);
    left: 20%;
}
.item3{
    background-color: rgb(238, 99, 99);
    left: 40%;
}