@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --principal: rgb(59,187,121);
    --grey: rgba(95, 95, 95, 0.808);
    --border: 1px solid rgba(179, 179, 179, 0.5);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    width: 100vw !important;
    overflow-x: hidden !important;
}
.mi-footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mi-float-left{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-left: 40px;
}
.mi-float-left > div{
    margin: 15px 40px;
    font-size: .6em !important;
}
.mi-float-left > div i{
    padding-right: 12px;
}
.mi-socials{
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mi-socials > i{
    margin: 15px 10px;
    font-size: 12px;
}
.mi-nav{
    padding: 20px 70px 20px 80px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    box-shadow: 10px 0px 7px rgba(95, 95, 95, 0.178);
}
.mi-nav .mi-logo{  
    font-size: 1.3em;
}
.mi-nav .mi-links{
    font-size: 0.8em;
    list-style: none;
    display: flex;
    margin-bottom: 0px;
}
.mi-nav .mi-links .mi-link{
    padding: 8px 10px 0 10px;
}
.mi-options{
    display: flex;
}
.mi-options .mi-option{
    padding: 5px 10px 0px;    
}
.mi-options .mi-option i span{
    font-size: .5em !important;
    background-color: var(--principal) !important;
}
.active{
    color: var(--principal) !important;
}
.mi-breadcrumb .breadcrumb .breadcrumb-item{
    font-size: .6em !important;
}
.accordion h6{
    font-weight: 600;
    font-size: .85rem;
}
.accordion ul{
    padding-left: 20px;
}
.accordion .accordion-button{
    padding: .8rem 0 !important;
    font-size: .8rem !important;
}
.accordion li::marker{
    color: var(--grey);
}
.accordion .accordion-button:not(.collapsed){
    background-color: white !important;
    box-shadow: none !important;
    color: var(--principal) !important;
}
.accordion .accordion-button::after{
    content: none !important;
}
.accordion .accordion-body{
    padding-left: 0px;
}
hr{
    width: 100%;
    color: var(--grey);
}
.mi-results,.dropdown .btn, .dropdown-item{
    color: var(--grey) !important;
    font-size: .7rem !important;
    font-weight: 400 !important;
}
.dropdown-item{
    color: black !important;
}
.card-body .card-title, .card-body .mi-price{
    font-size: 1em !important;
    font-weight: 600 !important;
}
.card-body .mi-price, .card-body .text-muted{
    font-weight: 400 !important;
}
.card-body .card-text{
    font-size: .8rem !important;
}
.card-body .btn span{
    padding-left: 6px;
}
.card-body .btn{
    font-size: .9em;
    margin-right: 5px;
}
.mi-stars i{
    transform: scale(.8);
    color: orange;
}
.card-body .btn:hover{
    background-color: var(--principal);
    color: white !important;
    border-color: var(--principal) !important;
}
.mi-filtro-precio h6{
    font-weight: 600 !important;
    font-size: .8em;
    margin-top: 30px;
}

/*INPUT RANGE PERSONALIZADO*/
input[type=range] {
    height: 23px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;}
  input[type=range]:focus {
    outline: none;}
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #000000;}
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 2px solid rgba(177, 177, 177, 0.219);
    height: 15px;
    width: 15px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;}
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;}
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #000000;
    border-radius: 0px;
    border: 0px solid #000000;}
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #000000;
    border: 2px solid rgba(177, 177, 177, 0.219);
    height: 15px;
    width: 15px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;}
  input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;}
  input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;}
  input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;}
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 1px #000000;
    border: 2px solid rgba(177, 177, 177, 0.219);
    height: 15px;
    width: 15px;
    border-radius: 0px;
    background: #000000;
    cursor: pointer;}
  input[type=range]:focus::-ms-fill-lower {
    background: #000000;}
  input[type=range]:focus::-ms-fill-upper {
    background: #000000;}
  /*INPUT RANGE PERSONALIZADO*/
  
  .btn-active{    
    background-color: var(--principal);
    color: white !important;
    border-color: var(--principal) !important;
  }
  .btn-active:hover{    
    background-color: white;
    color: grey !important;
    border-color: grey !important;
  }

  .mi-buttons{
    margin: 8px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mi-buttons .btn{
    font-size: .7em;
    padding: 2px 18px;
    margin: 2px;
  }
  .mi-size{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  .mi-size .btn{
    font-size: .7em;
    padding: 2px 18px;
    margin: 2px;
    width: 55px;
  }

  .mi-size .btn:hover{    
    background-color: var(--principal);
    color: white !important;
    border-color: var(--principal) !important;
  }
  .mi-checks .form-check-input:checked{
    background-color: orange;
    border-color: orange  ;
  }
  .mi-checks .form-check{
    font-size: .7em;
  }
  .mi-rated{
    margin-bottom: 35px;
  }
  .mi-rated .rated-item{
    margin: 20px 0px;
  }
  .mi-rated .rated-item .rated-item-content{}
  .mi-rated .rated-item .rated-item-content .title{
    font-size: .7em;
  }
  .mi-rated .rated-item .rated-item-content .price{
    width: 100%;
    font-weight: 400;
  }
  .mi-ad .ad-image{
    margin-top: 35px;
    width: 100%;
    height: 200px;
    background-color: #000000;
  }
  .pagination .page-link{
    font-size: .7em;
    color: #000;
    border: none;
    font-weight: 400;
  }
  .pagination .active{
    background-color: rgba(179, 179, 179, 0.2);
  }
  .pagination{
    margin: 70px 0px;
    padding: 4px 0px;
    border-bottom: var(--border);
  }
  .pagination, .mi-bottom-footer{
    border-top: var(--border);
  }
  .mi-footer-header .text{
    font-size: .6em;
    padding: 20px 0 10px;
  }
  .mi-footer-header .socials{
    padding: 20px 0 10px;
    border-left: var(--border);
    border-right: var(--border);
  }
  .mi-footer-header .socials i{
    font-size: .7em;
  }
  .footer-content h6{
    font-weight: 600;
    font-size: .85rem;
}
.footer-content a{
  font-weight: 400;
  font-size: .65em;
  padding-top: 6px;
  text-decoration: none;
  color: var(--border);
}
.footer-content .fa-solid::before{
  padding-right: 6px;
}

.footer-text{
  font-weight: 400;
  font-size: .6em;
}
.footer-payment a{
  text-decoration: none;
}
.footer-payment .text-secondary .fa-brands::before{
  width: 20px;
}